.items {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    .item {
        @include mq-down(tablet) {
            width: 90%;
            margin: 0 auto;
            padding: 0 32px;
        }
        width: 50%;
        padding: 0 72px;
    }
    .item:nth-child(3n) {
        width: 100%;
        padding: 72px 240px;
        @include mq-down(tablet) {
            width: 90%;
            margin: 0 auto;
            padding: 0 32px;
        }
    }
}
