.about {
    position: relative;
    &__text {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        @include mq-down(tablet) {
            padding-top: 80px;
            position: unset;
            top: auto;
            // transform: none;
        }
    }
}