.portfolio-index {
  text-align: center;
  color: black;
  font-family: "Courier";
  &__main {
      font-size: xx-large;
      padding: 160px 0;
      margin: 0 auto;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      br {
          display: none;
          @include mq-down(tablet) {
            display: block;
          }
        }
      @include mq-down(tablet) {
          font-size: medium;
      }
    }
    
  &__sub {
    &:hover {
      cursor: pointer;
    }
  }
}

.portfolio-container {
  margin-top: 160px;
}