.banner{
    background-color: #c62828;
    height: 160px;
    position: relative;
    @include mq-down(tablet) {
        height: 160px;
    }
    &__text {
        padding-top: 40px;
        text-align: center;
    }
}

.navbar {
    .container {
        margin: 0 360px;
    }
}